.navbar.nav-center {
    margin-top: 10px;
    border-bottom: 1px solid #42464c;
    border-top: 1px solid #42464c;
}

.subtitle+.title {
    margin-top: 0 !important;
}

.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child) {
    margin-top: 60px !important;
}

p {
    text-align: justify !important;
}

/*
    This is part of the notebook CSS sheet, but is also required on the front
    page, as sometimes the first part of a notebook is rendered (and we want to
    hide the grey input field there also).
 */
div.text_cell > div.input_prompt {
    display: none;
}
