/*
    Navbar stuff.
 */
.navbar.nav-center {
    margin-top: 10px;
    border-bottom: 1px solid #42464c;
    border-top: 1px solid #42464c;
}

/*
    Title stuff.
 */
.subtitle+.title {
    margin-top: 0 !important;
}

.content h1:not(:first-child), .content h2:not(:first-child), .content h3:not(:first-child), .content h4:not(:first-child), .content h5:not(:first-child), .content h6:not(:first-child) {
    margin-top: 60px !important;
}

/*
    Notebook stuff.
 */
div.text_cell > div.input_prompt,
div a.anchor-link {
    display: none;
}

div.cell .input {
    height: initial;
    padding-left: 0;
    padding-right: 0;
}

div.cell .highlight {
    font-size: 16px;
}

div.prompt {
    margin-right: 0 !important;
}

