div.output_stderr,
div a.anchor-link {
    display: none;
}

div.cell .input {
    height: initial;
    padding-left: 0;
    padding-right: 0;
}

div.code_cell div.inner_cell {
    background-color: rgb(248, 248, 248) !important;
}

div.cell .highlight {
    font-size: 14px;
    display: flex;
    align-items: center;
}

/*
    See https://guides.codechewing.com/css/horizontal-scroll-pre-html-bootstrap
*/
div.cell .highlight pre {
    white-space: pre;
    overflow-x: auto;
    display: inline-block;
    min-width: 100%
}

div.prompt {
    margin-right: 0 !important;
}

div.cell table {
    width: initial !important;
}

p.fig-caption {
    margin: 0 calc(45px + .4em);
    font-size: 12px;
}

div.output_subarea {
    max-width: 100%;
}
